.movie-list {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.refresh {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
